<form method="post" action="{{if .ID}}/save{{else}}/save{{end}}" hx-{{if .ID}}put{{else}}post{{end}}="/save" hx-target="#user-table-container">
    <input type="hidden" name="id" value="{{.ID}}">
    <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-600">Name:</label>
        <input type="text" name="name" value="{{.Name}}" required class="mt-1 p-2 w-full border rounded-md">
    </div>
    <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-600">Email:</label>
        <input type="email" name="email" value="{{.Email}}" required class="mt-1 p-2 w-full border rounded-md">
    </div>
    <button type="submit" class="bg-green-500 text-white px-4 py-2">{{.ActionButton}}</button>
    <button hx-get="/users" hx-target="body" class="bg-gray-500 text-white px-4 py-2">Back</button>
</form>
