<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <div class="container mx-auto p-4">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl mb-4"><a href="/">User Management</a></h1>
            <button hx-get="/new" hx-target="#user-table-container, #detail-container"
                class="bg-blue-500 text-white px-4 py-2">New</button>
        </div>
        <div id="user-table-container">
            {{template "userTable" .}}
        </div>
        <div id="detail-container"></div>
    </div>
</body>

</html>
