{{define "userTable"}}
<table class="min-w-full bg-white text-center">
    <thead>
        <tr>
            <th class="py-2">ID</th>
            <th class="py-2">Name</th>
            <th class="py-2">Email</th>
            <th class="py-2">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .}}
        <tr>
            <td class="py-2">{{.ID}}</td>
            <td class="py-2">{{.Name}}</td>
            <td class="py-2">{{.Email}}</td>
            <td class="py-2">
                <button hx-get="/edit?id={{.ID}}" hx-target="#user-table-container, #detail-container" class="bg-yellow-500 text-white px-2 py-1">Edit</button>
                <button hx-delete="/delete?id={{.ID}}" hx-target="#user-table-container, #detail-container" class="bg-red-500 text-white px-2 py-1">Delete</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
